/* GLOBAL */
:root {
	--primary-text-color: #434455;
	--title-text-color: #2e2f42;
	--accent-color: #4d5ae5;
  --background-color: #ffffff;
}
body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	background-color: var(--background-color);
}
.link {
	text-decoration: none;
}
.list {
	list-style: none;
}

/* LOGO */
.logo-link {
	font-family: "Raleway";
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--accent-color);
}
.logo-name {
	color: var(--title-text-color);
}

/* HEADER */
header {
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* NAVIGATION */
/* .navigation {
}
.nav-list {
}
.nav-item {
} */
.nav-link {
	font-weight: 600;
	color: var(--title-text-color);
}
.nav-link:hover,
.nav-link:focus {
	color: var(--primary-text-color);
}
.nav-link:active {
	color: var(--accent-color);
}
/* .nav-item {
}
.header-contacts {
} */
.email,
.tel {
	color: var(--primary-text-color);
}
.email:hover,
.email:focus,
.tel:hover,
.tel:focus {
	color: var(--accent-color);
}

/* HERO */
.hero {
	background-color: #2e2f42;
}

.hero-header {
	font-weight: 600;
	font-size: 56px;
	line-height: 60px;
	text-align: center;
	color: #ffffff;
}

.hero-button {
	letter-spacing: 0.04em;
	color: #ffffff;
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
	background: var(--accent-color);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 4px;
}

.hero-button:active {
	background: #404bbf;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

/* MAIN */

.section-header {
	font-weight: 600;
	font-size: 20px;
	color: var(--title-text-color);
}

/* .section-text {
} */

.section-main-header {
	font-weight: 600;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	text-transform: capitalize;
	color: var(--title-text-color);
}

.section-3 {
	background: #f4f4fd;
}

/* .team-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px 0px 32px;
	gap: 32px;
} */

.teammate {
	background-color: var(--background-color);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.teammate-name {
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	color: var(--title-text-color);
}

.team-position {
	text-align: center;
	
}

/* FOOTER */
.logo-name2 {
	color: #f4f4fd;
}

footer {
	background: #2e2f42;
}

.footer-text {
	color: #e7e9fc;
}

/* .footer-block {	
} */

/* FILTERS */
.filter-btn {
	font-weight: 600;
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--accent-color);
	background: #f4f4fd;
	border: 1px solid #e7e9fc;
	border-radius: 4px;
	cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
	color: #ffffff;
	background: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .filter-list {
} */

.prjct-card-item {
	box-sizing: border-box;
	border: 0.5px solid #f4f4fd;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* .stylish-txt {
  color: #F4F4FD;
} */
